version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: findly-backend-app
    restart: unless-stopped
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: "mysql://root@db:3306/findly"
    env_file:
      - ./.env
    depends_on:
      - db
    volumes:
      #- ./:/usr/src/app # enable only in developer, this is for live code reloading
      - /usr/src/app/node_modules
      - ./findly_uploads:/usr/src/app/findly_uploads

  db:
    image: mysql:8.0
    container_name: findly-db
    restart: unless-stopped
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: findly
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: findly-phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_USER: root
      PMA_PASSWORD: ""  
    depends_on:
      - db
  mailhog:
    image: mailhog/mailhog
    ports:
      - "1025:1025" # SMTP port
      - "8025:8025" # Web UI port

volumes:
  db_data: